.button {
    background-color: #53c28b;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 110, 255, 0.144);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
