.container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.title {
    font-size: 50px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.avatar {
    border-radius: 100%;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: 300px;
}

.image {
    object-fit: cover;
}
